// import variables
@use '../vars/vars' as *;
// import mixins
@use '../helpers/mixins' as *;
// call font family Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

button,
input{
    outline: 0;
    border: none;
}

button{
    cursor: pointer;
    padding: $xsm-padding;
    background-color: $primary;
    color: $white;
    transition: $transition-long;
}
button:hover{
    background-color: $primary-variant;
}

html{
    font-family: 'Poppins';
}